/*semantic css OVERWRITE*/
.button{
  font-family: 'Montserrat' !important;
  font-size: 1.2em !important;
  font-weight: 400 !important;
  text-decoration: underline !important;
  border-radius: 0 !important;
}
.primary{
  background: #2b5bac !important;
}
.secundary{
  background: #87b672 !important
}


body {
  margin: 0;
  padding: 0;
}
body *{
  font-family: helvetica !important;
}

.input *{
  border-radius: 0 !important;
}
.input button{
  background: #87b672 !important;
}

.title {
  text-decoration: none;
}
a{
  color: #696969 !important;
}
.logoVerde{
  color: #87b672;
  font-size: 27px;
  padding-right: 20px;
}
.logoAzul{
  color: #2b5bad;
  font-size: 27px;
}
.login{
  font-size: 10px;
  padding-right: 3px !important;
  padding-left: 5em !important;
}
.travel, .logout{
  padding: 0 !important;
}
.itemMenu{
  padding: 0 !important;
}

.content {
  margin: 0 auto;

  width: 100%;
}

.slide{
  width: 100%;

}

.form{
  background-color: rgba(44,72,194,0.8);
  height: 400px;
  padding-right: 30px;
}

.inputCenter{
margin: 5px auto 0 auto !important;

}
.textYellow{
  color: yellow !important;
}

.containerBottom{
  position: relative;
  bottom: -100px;
}
h1, #spanWhite{
  color: #fff !important;
}
.ui.basic.button{
  color: #fff !important;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 1) inset !important;

}
/*flex styles*/
.one{
  flex:1;
}
.two{
  flex: 2;
}
.three{
  flex: 3;
}
.four{
  flex:4;
}
/*single car css*/
.creatur-row{
  display: flex;
}
.ct-price{
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 70000;
  color:#2b5bac;
}
.ct-usd{
  font-family: 'Roboto', sans-serif;
  color: #6d6d6d;
  font-size: 1.3em;
  font-weight: 400;
}
.singleCarContainer{
  border: 1px solid #E9F0F4;
  display: flex;
  flex-flow: column;
  margin: 2em;
}
.singleCarContainer-carImage>img{
  border: 1px solid #E9F0F4;
  margin: 1em;

}
.singleCarContainer .diasRenta{
  font-family: 'Monserrat', sans-serif;
  font-size: .8em;
  color:#363636;
  font-weight: 700;
}
.singleCarContainer .rentDesc{
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  color:#989898;
}
.singleCarContainer .km{
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  color:#989898;
}
.singleCarContainer .centralData{
  margin: 2em 0;
}
.singleCarContainer-title{
  height: 37px;
  flex: 1;
}
.singleCarContainer-title h2{
  display: inline-block;
  padding-left: .5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.singleCarContainer-title img{
  float: right;
}
.singleCarContainer-data{
  flex: 3;
  margin: 1.2em;
  padding-left: 1em;
}
.ct-row{
  display: flex;
}
.singleCarContainer-carImage{
  flex: 1;
}
.singleCarContainer-title{
  border-bottom: 1px solid #E9F0F4;
}
/*single car css*/
