/*semantic css OVERWRITE*/
.button{
  font-family: 'Montserrat' !important;
  font-size: 1.2em !important;
  font-weight: 400 !important;
  border-radius: 0 !important;
}
.primary{
  background: #2b5bac !important;
}
.secundary{
  background: #87b672 !important;
  color:white !important;
}
.underline{
  text-decoration: underline !important;
}
.colorGreen{
  color: #87b672;
}

body {
  margin: 0;
  padding: 0;
  font-family: helvetica !important;
}
.grid{
  margin-top: 0 !important;
}
.input *{
  border-radius: 0 !important;
}
.input button{
  background: #87b672 !important;
}

.title {
  text-decoration: none;
}
.selection {
  border-radius: 0 !important;
  line-height: 10px !important;
  min-height: 0 !important
}
.divHora{
  max-height: 20px;
}
a{
  color: #b2b2b2 !important;
}
.logoVerde{
  color: #87b672;
  font-size: 27px;
  padding-right: 20px;
}
.logoAzul{
  color: #2b5bad;
  font-size: 27px;
}
.logoBlanco{
  color: #FFF;
  font-size: 27px;
}
.login{
  font-size: 10px;
  padding-right: 3px !important;
  padding-left: 5em !important;
}
.travel, .logout{
  padding: 0 !important;
}
.itemMenu{
  padding: 0 !important;
}

.content {
  margin: 0 auto;
  width: 100%;
}

.slide{
  width: 100%;

}
/********* DatePicker and Form *************/
.form{
  margin-top: 10px;
  background-color: rgba(45,72,192,0.8);
  margin-bottom: 15px;
  width: 366px !important;
  height: 485px !important;
}
.titleForm{
  padding-top: 23px !important;
  margin-bottom: 0px !important;
}

.DatePickerForm{
  border-radius: 0 !important;
  height: 34px;
  position: relative;
  top: -10px;
  left: -4px;
  width: 143px !important;
}

.fontDatePicker{
  font-size: 17px !important;
}

.columnPaddingzero{
  padding: 0 0 18px 0 !important;

}
.dividerForm{
  width: 50% !important;
  margin: 0px 10% auto !important;
  border-top: 2px solid #70a0ec !important;
  border-bottom: 1px solid #70a0ec !important;
}
.topDatePicker{
  padding-top: 24px !important;
}

.checkboxForm{
  left: 32px;
  bottom: 13px;
  padding-left: 2em !important;
}

.checkboxForm:before{
  background: rgba(255, 255, 255, 0.0) !important;
  border: .2em solid #87b672 !important;
  width: 20px !important;
  height: 20px !important;
  top: -5px !important

}
.checkboxForm:after{
  color: #87b672 !important;
  width: 28px !important;
  font-size: 20px !important;
  top: -5px !important

}

.inputFormSize{
  width: 70%;
  right: 24px;
}

#return{
  display: none;
}

.buttonGreen{
  background-color: #87b672 !important;
  color:white !important;
  border-radius: 0 !important;
  height: 50px !important;
}
@media only screen and (max-width: 767px) and (min-width: 320px){

  .form{
    width: 100% !important;
  }
  .inputFormSize{
    width: 79%;
  }
  .DatePickerForm{
    top: -10px;
    left: -51px;
    width: 143px !important;
  }
  .fontDatePicker{
    position: relative;
    left: -47px;
  }
}
.inputCenter{
  margin: 5px auto 0 auto !important;

}
.textYellow{
  color: yellow !important;
}

.containerBottom{
  position: relative;
  bottom: -100px;
}

h1, #spanWhite, h4, .spanWhite{
  color: #fff !important;
}


.divLabelDate{
  padding-bottom: 12px !important;
  padding-left: 0 !important;
  right: 67px;
}

.selectDivHour{
  right: 15px;
}

i.green.icon{
  color: #87b672 !important;
}
i.inverted.bordered.green.icon, i.inverted.circular.green.icon{
  background: #87b672 !important;
}
i.bordered.icon{
  box-shadow: 0 0 0 0.1em #fff inset;
}
.ui.basic.button{
  color: #fff !important;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 1) inset !important;

}

/********* End DatePicker and Form *************/
/*PROMO*/
.titlePromo{
  margin-bottom: 0 !important;
}
.buttonReservar{
  margin-top: 22px !important;
  margin-bottom: 15px !important;
}
.whiteIco{
  color: white !important;
}
.spaceComillas{
  padding-top: 20px !important;
}

/*flex styles*/
.one{
  flex:1;
}
.two{
  flex: 2;
}
.three{
  flex: 3;
}
.four{
  flex:4;
}
/*single car css*/
.creatur-row{
  display: flex;
}
.ct-price{
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 70000;
  color:#2b5bac;
}
.ct-usd{
  font-family: 'Roboto', sans-serif;
  color: #6d6d6d;
  font-size: 1.3em;
  font-weight: 400;
}
.singleCarContainer{
  border: 1px solid #E9F0F4;
  display: flex;
  flex-flow: column;
  margin: 2em;
}
.singleCarContainer-carImage>img{
  border: 1px solid #E9F0F4;
  margin: 1em;

}
.singleCarContainer .diasRenta{
  font-family: 'Monserrat', sans-serif;
  font-size: .8em;
  color:#363636;
  font-weight: 700;
}
.singleCarContainer .rentDesc{
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  color:#989898;
}
.singleCarContainer .km{
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  color:#989898;
}
.singleCarContainer .centralData{
  margin: 2em 0;
}
.singleCarContainer-title{
  height: 37px;
  flex: 1;
}
.singleCarContainer-title h2{
  display: inline-block;
  padding-left: .5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.singleCarContainer-title img{
  float: right;
}
.singleCarContainer-data{
  flex: 3;
  margin: 1.2em;
  padding-left: 1em;
}
.ct-row{
  display: flex;
}
.singleCarContainer-carImage{
  flex: 1;
}
.singleCarContainer-title{
  border-bottom: 1px solid #E9F0F4;
}
/*single car css*/

/*CARDS*/
.ui.card{
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 1) inset !important;
  background:url('/images/comillas.png') no-repeat;
}
.ui.cards>.extra, .ui.card>.content, .ui.cards>.card>.extra{
  border-top: none !important;
}
/* COMMENTS */
.containerComments h2{
  margin-top: 1em !important;
  margin-bottom: 0 !important;
  font-stretch: condensed;
}

.containerComments span{
  color: #b2b2b2 !important;
  font-size: 13px;
  font-style: italic;
}
.containerComments .description{
  font-size: 12px;
  color: #b2b2b2 !important;
}
.containerComments a{
  margin-left: 20px;
  color: #000 !important;
}
 .containerComments p{
   margin-left: 65px !important;
   color: #000 !important;
   font-size: 12px;
 }
/*FOOTER*/
footer{
  background:#2b5bac;
  height: 285px;
  margin-top: 20px;
}
footer>.container, .containerComments{
  padding-top: 27px;
}
.menuFooter a{
  margin-right: 105px;
  color: #fff !important;
  position: relative;
  left: 10px;
  border-bottom: 1px solid #fff;
  padding-bottom: .6em;
}

.trianguloDer{
  content: ' ';
  width: 0;
  height: 0;
  border-left: 5px solid #87b672;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 4px;
}
.dividerGreen{
  border-top: 0px solid #87b672 !important;
  border-bottom: 1px solid #87b672 !important;
  margin: 0 0 5px 0!important;
}
.aviso{
  font-size: 10px;
  color: white;
  margin-right: 10px;
  position: relative;
  bottom: 10px;
}
.gridPaddingTop{
  padding-top: 0px !important;
}
.footerPrivacidad{
  text-align: right !important;
  padding-top: 5px !important;
}
.footerPrivacidad a{
  color: white !important;
  font-size: 10px !important;
}
/********* Main Available *************/
#rowAvailable>.column{
  padding-bottom: 14px;
}
